<nav class="bg-maincolor fixed w-full z-20 top-0 start-0 border-b border-default">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/resturant logo.jpeg" class="h-7" alt="Night Restaurant" />
      <span class="self-center text-xl text-secondcolor font-semibold whitespace-nowrap"
        >Night Restaurant</span
      >
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="M5 7h14M5 12h14M5 17h14"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden grow md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="ms-80 flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            routerLink="/menu"
            routerLinkActive="bg-red-400 text-black"
            class="block py-2 px-3 text-secondcolor rounded-2xl hover:text-white"
            aria-current="page"
          >
            Menu
          </a>
        </li>

        <li>
          <a
            routerLink="/categories"
            routerLinkActive="bg-red-400 text-black"
            class="block py-2 px-3 text-secondcolor rounded-2xl hover:text-white"
            aria-current="page"
          >
            Categories
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
